{% extends "../home/base.html" %}
{% block title %}
Zip Finder
{% endblock %}

{% block header %}
<script src="/static/js/zipFinder.js"></script>
{% endblock %}

{% block content %}

<div class="text-center mt-5">
	<h6 class="mb-3">Enter city, state in preferred format for zip code.</h6>
	<input type="text" id="loc" style="height:40px;" class="pl-2">
	<button id="locbtn" class="btn btn-primary" style="height:50px, border:none">GET ZIP</button>
	<div id="result" style="height:60px;color:green; font-size:50px"></div>
</div>



<div class="text-center">
	<a href="#"><i class="fa fa-github fontlink-light" aria-hidden="true"></i></a>
	<p class="text-center description">This project was written in jQuery. Click for github code.</p>
</div>
{% endblock %}